
/* Blog Header (Photo) */

#body-header{
    background-image: url("macbook_mouse.jpg");
    height: 65vh;
    opacity: 0.8;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    
}

/* Horrizontal List Of the Home,--- */


.horizontal-list{
/*  for removing the dots in the list */
list-style: none;
padding: 0px;
margin: 0px;

}

.hover :hover{
    color: rgb(235, 13, 13);
    border-bottom:1px solid rgb(26, 218, 54) ;
    transition: color 0.5s , border-bottom 0.8s;
}


.text-center{
    text-align: center;
}
.horizontal-list li{
    display: inline-block;
    margin: 8px 8px 8px 0px;
    font-size: 20px;
}

.horizontal-list li a{
    text-decoration: none;
    color: azure;
    opacity: 1;
}


/* Header 2 */
#my-name{
    text-align: center;
    color: rgb(228, 227, 237);
    margin-top: 100px;
    font-size: xx-large;
   
}
#my-name:hover{
    color: chartreuse;
   
}

#header-2 #icons li{
    text-decoration: none;
    display: inline-block;
    padding: 0px;
}



.mar{
    margin-top: 0px;
    margin-left: -20px;
    padding: 8px;
     
}
.pad{
    padding: 4px;
    border-radius: 50%;
}
#icons ul li a i:hover{
/* color: black; */
box-shadow: 0px 0px 6px 4px rgb(201, 24, 24)

}


/* About Section */
#about{
    position: relative;
}
#my-image{
    height: auto;
    width:20%;
    border-radius: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    margin-top: -8%;
}

